[Unit]
Description=C2 Agent
After=network.target

[Service]
Type=simple
ExecStart=/home/noob-debian/Documents/Vscode/C2/c2_agent --key YOUR_DEPLOY_KEY --server https://c2.trazento.site
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
